<div class="container">
  <div class="row card-box">
    <div class="col card">
      <form style="padding: 10px">
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        <input style="margin: 5px" type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <input style="margin: 5px" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button style="margin: 5px" class="btn btn-lg btn-primary btn-block" type="submit" (click)="onSubmit()">Sign in</button>
      </form>
    </div>
  </div>
</div>
